{% extends 'base.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
    <h1 class="text-center">Вітаємо на сайті!</h1>
    <p class="text-center">Це головна сторінка вашого Django-проєкту.</p>

    <h2>Головна</h2>
    <ul>
        <li><a href="{% url 'view1' %}">Сторінка 1</a></li>
        <li><a href="{% url 'view2' %}">Сторінка 2</a></li>
        <li><a href="{% url 'view3' %}">Сторінка 3</a></li>
        <li><a href="{% url 'view4' %}">Сторінка 4</a></li>
    </ul>
{% endblock %}